header{
  background-color:#F1F99E;
}

body{
  background-color: #F1F99E;
}
h4, .totalPrice, .homePageText{
  margin-left: 10%;
  padding: 20px
}

h2{
  margin: 2%;
  text-align: center
}

.header-contents{
  padding: 1rem;
  font-size: 15px;
}


.card-container{
  flex-wrap: wrap ;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #eaeaea;
  background-color: white ;
}

img{
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.price{
  color: gray;
}

.name{
  font-style: normal;
  font-weight: bold
}

.price, .description, .name{
  font-size: 22px;
  padding: 8px;
}

.productDetailsContainer{
  display: flex;
}


.detailsContentContainer{
  flex-wrap: wrap;
  margin: 20px;
}

.detailsImage{
  width: 300px;
  height: 450px;
  object-fit: cover;
  margin: 20px
}

.nameProductDetails{
  font-size:30px;
}

.catalogText, .logoText{
  margin-left: 10%;
  font-family: Rochester;
  font-size: 22px;
  color: darkred
}

.cartSummaryContainer{
  font-size: 20px;
}
.cartdetailsContainer, .cartItemsname{
  padding: 5%
}

.cartSummaryItemContainer, .emptyCart{
  margin-left: 10%;
  margin-bottom: 2%;
  background-color: #ff980087;

}

.cartItemsprice, .cartItemsdescription, .cartItemsname, .cartQty{
  font-size: 22px;
  padding: 8px;
}

 .cartItemsname{
  display: flex;
  align-items: center;
  margin-left:15%;
}

.cartItemsimage{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 20px
}

.homePageContainer{
  background-image: url("./images/homepage.jpeg");
  background-size:cover;
  height: 600px;
}

.viewMenuButton{
  position: relative;
  left: 65%;
  top: 40%;
  background-color: #800a13d6;
  height: 10%;
  width: 10%
}

.section{
  height: 20%
}

.locationContainer{
  margin-left: 15%;
}

.locationImage1{
  background-image: url("./images/storephoto1.jpg");
  background-size:cover;
  height: 500px;
}

.locationImage2{
  background-image: url("./images/storephoto2.jpg");
  background-size:cover;
  height: 500px;
}

.locationImage3{
  background-image: url("./images/storephoto3.jpg");
  background-size:cover;
  height: 500px;
}

.locationImage4{
  background-image: url("./images/storephoto4.jpg");
  background-size:cover;
  height: 500px;
}
section{
  margin: 3%;
}

.fa-times:before{
  position: relative;
  top: 1vmax;
  left:70vmax
}
